@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

#table {
    border-collapse: collapse;
    width: 60%;
    font-family: 'Inter', sans-serif;
} 

#names {
    text-transform: uppercase;
}

#td, #th {
    border-bottom: 5px solid #7f8fa6;
    box-shadow: inset 0px -5px 0 0 #000;
    text-align: left;
    padding: 20px;
}

#close {
    cursor: pointer;
}