@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body, #tbbody {
    /* background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%); */
    width: 475px;
    height: 450px;
    overflow-y: hidden;
} html {
    width: 475px;
    height: 450px;
}

#tbbody {
    border: 1px solid blue;
}

.small {
    font-size: 9px;
    opacity: 0.6;
}

#sndsub {
    opacity: 0.6;
}

#snd {
    right: 0;
} .snd {
    position: relative;
    width: 48px;
    margin-right: 2px;
    height: 35px;
    bottom: 45px;
    /* background: #ff6b81; */
    /* box-shadow: 0 5px #ff4757; */
} .snd:hover {
    /* background: #ef5777;
    box-shadow: 0 5px #f53b57; */
}

#main>* {
    margin-bottom: 10px !important;
}

input {
    /* background: #c8d6e5; */
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    position: relative;
    display: block;
    border-radius: 15px;
    position: relative;
    top: 0 !important;
    width: 99%;
    height: 71px;
    text-align: right;
    /* color: #000; */
    text-shadow: 0px 0px 0.1px #000;
    overflow-x: scroll;
} input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#bar {
    pointer-events: none;
    caret-color: transparent;
}

.ans {
    /* background: #778ca3;
    box-shadow: 0 5px #4b6584; */
} .ans:hover {
    /* background: #a4b0be;
    box-shadow: 0 5px #747d8c; */
}

.numbers {
    font-size: 20px;
    width: 80px;
    height: 60px;
    /* background: #c56cf0; */
    /* box-shadow: 0 5px #cd84f1; */
} .numbers:hover {
    /* background: #a55eea; */
    /* box-shadow: 0 5px #8854d0; */
} #zero, .ans, .dot, .neg {
    font-size: 20px;
    width: 83px;
    height: 60px;
} .dot, .neg {
    font-size: 15px;
    height: 27px;
    width: 40px;
} #dotneg {
    display: inline-block;
} #dotneg .dot {
    position: relative !important;
    top: 15px !important;
    left: 133px;
} #dotneg .neg {
    position: relative !important;
    bottom: 20px !important;
    left: 90px;
} .equ {
    position: absolute;
    height: 60px;
    width: 44px;
    left: 3px;
    font-size: 30px;
} #equ {
    position: relative;
    left: 60%;
    top: 82.6% !important;
} #drer>* {
    width: 41px;
    height: 27px;
    font-size: 8px;
    font-weight: bold;
    position: relative;
    /* background: #ffbe76; */
    /* box-shadow: 0 5px #f0932b; */
} #drer #deg_rad {
    bottom: 72px;
    left: 173px;
} #drer #exc_rnd {
    bottom: 37px;
    left: 129px;
} #drer>*:hover {
    /* background: #fea47f; */
    /* box-shadow: 0 5px #f97f51; */
}

#body {
    margin: 0 auto;
    /* background: #c8d6e5; */
    /* border: 3px solid #c8d6e5; */
    border-radius: 15px;
    position: absolute;
    width: 92%;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -50%);
    height: 66.5%;
    box-shadow: 15px 15px 0 #222f3e;
}

button {
    /* background: #686de0; */
    /* box-shadow: 0 5px #4834d4; */
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

button:hover {
    /* background: #4b7bec; */
    /* box-shadow: 0 5px #3867d6; */
}

button:active {
    transform: translateY(2px);
}

#body>* {
    position: absolute;
    top: 30%;
}

#memorypb {
    position: relative;
    bottom: 44px;
} #memorypb>*,#dmem>* {
    height: 35px;
    width: 49px;
} #mem, #var {
    height: 35px;
    width: 111px;
} #dmem>* {
    margin: 1px 1px 5px 1px;
}

#operat {
    position: relative;
    left: 250px;
} #operat>* {
    height: 43.15px;
    margin-bottom: 9px;
    width: 57px;
    font-size: 20px;
}

#right {
    position: absolute;
    right: 0 !important;
    width: 125px;
    height: 210px;
} #right>* {
    width: 60px;
    margin-bottom: 8px;
    height: 44px;
}

.operat {
    /* background: #f7d794; */
    /* box-shadow: 0 5px #f5cd79; */
    width: 40px;
} .operat:hover {
    /* background: #eccc68; */
    /* box-shadow: 0 5px #ffa502; */
}

#serConfigCont {
    position: relative;
    width: 45%;
    height: 60%;
    background: rgba(200, 214, 229, 0.8);
    top: 50%;
    transform: translateY(20%);
    left: 50%;
    visibility: hidden;
    padding: 5px;
    border-radius: 10px;
} #geo {
    opacity: 0.5;
}

#reset {
    visibility: hidden;
}

#logE {
    position: relative;
    left: 85.9%;
    width: 60px;
    top: 29.7%;
    height: 58px;
} #lnexp {
    position: relative;
    width: 60px;
    height: 58px;
    left: 56.8%;
    top: 30%;
}

h2 {
    font-family: 'Recursive', sans-serif;
}

#stval, #diff {
    text-align: left;
    height: 30px;
    border-radius: unset;
    font-size: 20px;
    background: unset;
    border-bottom: 2px solid;
    border-image: linear-gradient(hsla(29, 92%, 70%, 1) 0%, hsla(0, 87%, 73%, 1)) 1;
} 

#ari, #geo, #cus {
    height: 30px;
    box-shadow: unset;
    border-radius: unset;
    background: #3c6382;
}

#save, #reset {
    position: relative !important;
    width: 60px !important;
    height: 30px;
    font-size: 15px;
    box-shadow: none;
}

#save {
    left: 70%;
    top: -250px;
    background: #3ae374;
}

#reset {
    background: #1289A7;
    left: 10%;
    top: -250px;
}

#reset:hover {
    background: #12CBC4;
}

#save:active {
    transform: translateY(0px);
} #save:hover {
    background: #32ff7e;
}

#err {
    position: absolute;
    width: 100% !important;
    top: 70px !important;
    text-align: center;
    font-size: 14px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #f5f6fa;
    text-shadow: 1px 0px 10px red;
}

#fixChoice {
    position: relative;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 25px;
    height: 35px;
    background: #222f3e;
    color: white;
}

#fixChoiceDesc {
    text-transform: uppercase;
    font-family: 'Recursive', sans-serif;
    font-weight: 600;
    text-align: center;
}

#exc_rndChoiceCont {
    position: absolute;
    left: 50%;
    top: 70%;
    background: rgba(200, 214, 229, 0.8);
    padding: none;
    margin: 0;
    width: 30%;
    height: 30%;
    border-radius: 15px;
    visibility: hidden;
}

#srb {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
} #srb > * {
    position: relative;
    font-size: 15px;
    width: 125%;
    padding: 5px;
    box-shadow: none;
}

#saveB, #saveD {
    background: #3ae374;
} #saveB:hover, #saveD:hover {
    background: #32ff7e;
}

#resetB {
    background: #1289A7;
    visibility: hidden;
} #resetB:hover {
    background: #12CBC4;
}

#exc_rnd {
    text-align: center;
}

#ansEntriesCont {
    position: absolute;
    left: 25px;
    top: 105%;
    background: rgba(200, 214, 229, 0.8);
    width: 200px;
    height: 80px;
    border-radius: 10px;
    visibility: hidden;
} #resetC {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 60px;
    height: 25px;
    box-shadow: none;
    background: #1289A7;
} #resetC:hover {
    background: #12CBC4;
} #entries {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 60px;
    height: 25px;
    box-shadow: none;
    background: #c44569;
} #entries:hover {
    background: #cf6a87;
} #entryLeft {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
} #exit {
    position: relative;
    left: 70px;
    height: 25px;
    top: 2px;
    width: 60px;
    box-shadow: none;
    background: #10ac84;
} #exit:hover {
    background: #1dd1a1;
} #eClear {
    position: absolute;
    font-size: 11px;
    color: #2c2c54;
    font-family: 'Recursive', sans-serif;
    margin-left: 20px;
    opacity: 0;
}

#extra {
    font-family: 'Karla', sans-serif;
    position: absolute;
    left: 3%;
    top: 17%;
    z-index: 2;
    font-weight: 800;
    font-size: 9px;
    white-space: pre;
}

.arrow {
    position: relative;
    width: 30px;
    /* background: #1e272e; */
    height: 14px;
    border-radius: 3px;
    left: 0.6%;
    top: 149px;
    z-index: 2;
    box-shadow: none;
} .arrow:hover {
    /* background: #000; */
    box-shadow: none;
} .arrow i {
    /* border: solid #fff; */
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    position: relative;
    bottom: 3.5px;
} #rightarrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} #leftarrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
} .arrow:active {
    transform: translateY(1px);
}

#toplinks {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    gap: 5px;
}

.toplink {
    background: #2d3436;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
} .toplink:hover {
    background: #dfe6e9;
    color: black;
}

#logBaseCont {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 50%;
    height: 30%;
    background: rgba(200, 214, 229, 0.8);
    border-radius: 15px;
    visibility: hidden;
} #baseChoice {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    height: 35px;
    background: #222f3e;
    color: white;
} #baseChoiceDesc {
    text-transform: uppercase;
    font-family: 'Recursive', sans-serif;
    font-weight: 600;
    text-align: center;
} #saveD, #resetD {
    position: absolute;
    font-size: 15px;
    padding: 5px;
    box-shadow: none;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
} #saveD {
    top: 60%;
} #resetD {
    top: 80%;
    background: #1289A7;
} #resetD:hover {
    background: #12CBC4;
}

.ansEvalHover {
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 65% 30%, 50% 45%, 35% 30%, 0 30%);
	background: #fff;
	width: 100px;
	height: 75px;
	font-family: 'Inter', sans-serif;
	text-align: center;
	font-size: 10px;
	padding-top: 6px;
	border-radius: 5px;
    position: relative;
} .ansEvalHoverParent, #baseSubPopupParent {
    /* position: relative !important; */
    bottom: 50px;
    filter: drop-shadow(0.2rem 0.2rem black);
}

#baseSubPopup {
    clip-path: polygon(0 100%, 100% 100%, 100% 75%, 65% 75%, 50% 60%, 35% 75%, 0% 75%);
} #baseSubPopupParent {
    visibility: hidden;
}

@keyframes fadein {
    0% {opacity:0;}
    100% {opacity: 1;}
} @keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}

.fadeIn {
    animation: fadein 0.6s ease;
    animation-fill-mode: forwards;
} .fadeOut {
    animation: fadeout 0.6s ease;
    animation-fill-mode: forwards;
}

.hoverValue{position: relative;}

.forCursorFadeOut {
    animation: fadecursorout 0.6s ease;
    animation-fill-mode: forwards;
} 
/* @keyframes fadecursorout {
    0% {caret-color: black;}
    100% {caret-color: transparent;}
} */

.forCursorFadeIn {
    animation: fadecursorin 0.6s ease;
    animation-fill-mode: forwards;
} 
/* @keyframes fadecursorin {
    0% {caret-color: transparent;}
    100% {caret-color: black;} 
}*/

#bcContainer {
    width: 45px;
    height: 45px;
    background: #ffffff;
    box-shadow: 0 5px #f1f2f6;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: flex; align-items: center; justify-content: center;
    transition: 0.2s;
}  #bcContainer:hover {
    background: #ecf0f1;
    box-shadow: 0 5px #dfe6e9;
}

#blinkingCursor {
    width: 2px;
    height: 30px;
    background: black;
    animation: blink 0.8s linear infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#memcb {
    height: .1% !important;
} 

/* .holding {
    border: 2px solid black;
} */

#hv {
    background: #fff;
	width: fit-content;
	height: 15px;
    top: 70px;
	font-family: 'Inter', sans-serif;
	text-align: center;
	font-size: 11px;
    padding: 2px 4px 0 4px;
	border-radius: 5px;
    position: absolute;
}

#copyCont {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 65px;
    margin-top: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
} #copy { 
    /* background: #78e08f; */
    /* box-shadow: 0 5px #b8e994; */
    border-radius: 15px;
    padding: 7.5px;
    z-index: 3;
    cursor: pointer !important; 
    /* transition: 0.2s; */
}
/* #copyCont span {
    background: white;
    border-radius: 10px;
    color: #4cd137;
    padding: 6px;
    opacity: 0;
    margin-bottom: -3px;
} */


#pasteCont {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 115px;
    margin-top: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
} 
#paste { 
    /* background: #7f8c8d;
    box-shadow: 0 5px #95a5a6; */
    border-radius: 15px;
    padding: 7.5px;
    z-index: 3;
    cursor: pointer; 
    /* transition: 0.2s; */
}
/* #pasteCont span {
    position: relative;
    background: white;
    border-radius: 10px;
    color: #4cd137;
    padding: 6px;
    opacity: 0;
    margin-bottom: -3px;
} */

#copy:hover/*, #paste:hover*/ {
    /* background: #2ed573; */
    /* box-shadow: 0 5px #7bed9f; */
}

.dnone {display:none !important;}
.dbox {
    display: flex;
    /* background: rgba(255, 255, 255, 0.7); */
    position: absolute;
    width: 104px;
    padding: 4px;
    border-radius: 10px;
    top: 120%;
    flex-wrap: wrap;
    flex-direction: row;
}

#dvar {
    padding: 10px;
    left: 114px;
    height: fit-content;
    width: calc(111px - 18px);
} #dvar input {
    position: relative;
    height: fit-content;
    padding: 3px;
    background: #fff;
    font-size: 12px;
    text-align: left;
    margin: 7px 0 10px 0;
} #dvar h5 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 3px !important;
    width: 100%;
    text-align: center;
} #dvar > div {
    display: flex;
    justify-content: center;
    gap: 5px;
}



#varval { 
    width: 70%; 
    border-radius: 3px;
}

#vlist, #varname {
    width: 15% !important;
    height: calc(0.15 * (111px - 18px));
    background: white;
    border-radius: 5px;
} #vlist {
    position: relative;
    right: 0 !important;
}

.nostyle {
    all: unset;
    transition: 0.2s !important;
} .nostyle:hover {
    all: unset;
} .nostyle:active {
    all: unset;
}

.h5but {
    position: relative;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    width: 40% !important;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    transition: 0.2s;
} .h5but:active { transform: translateY(1.5px); } 

.stvc { background: #0be881; box-shadow: 0 4px #05c46b; } 
.stvc:hover { background: #32ff7e; box-shadow: 0 4px #3ae374; } 
.rmvc { background: #e74c3c; box-shadow: 0 4px #c0392b; } 
.rmvc:hover { background: #ED4C67; box-shadow: 0 4px #B53471; }

.chvar {
    position: relative;
    border-radius: 5px;
    width: 25%;
    padding: 3px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    background: #303952;
    box-shadow: 0 3px #596275;
    margin: 1px;
} .chvar:hover {
    background: #574b90;
    box-shadow: 0 3px #786fa6;
} .chvar:active {
    transform: translateY(1px);
}

#flexbut {
    width: 100%;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.adderr {
    color: red !important;
    font-size: 8px;
    margin: -3px 0 5px 0;
}

#themes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    position: absolute;
    left: 17%;
    top: 9%;
    z-index: 5;
    background: whitesmoke;
    border-radius: 7px;
    padding: 1em;
    width: 18em;
    height: fit-content;
} .theme {
    color: black;
    display: flex;
    width: calc(100% / 3.5);
    flex-wrap: wrap;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
} .theme:hover {
    transform: translateY(-4px);
} .theme button {
    box-shadow: none;
} .theme button:hover {
    box-shadow: none;
} .theme span {
    text-align: center;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 10px;
} .theme div {
    padding: 0.6em !important;
    border-radius: 4px;
} .theme:nth-child(3n - 1) {
    margin: 0 1em 0 1em;
}


#defaultT button:nth-child(1) {
    background: #c56cf0;
} #defaultT button:nth-child(1):hover {
    background: #a55eea;
} #defaultT button:nth-child(2) {
    background: #f7d794;
} #defaultT button:nth-child(2):hover {
    background: #eccc68;
} #defaultT div {
    background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
}

#lightT button:nth-child(1) {
    background: #f7f1e3;
} #lightT button:nth-child(1):hover {
    background: #eae5d8;
} #lightT button:nth-child(2) {
    background: #eeeff4;
} #lightT button:nth-child(2):hover {
    background: #f5f6fa;
} #lightT div {
    background: #d8d5d5;
}

#darkT button { color: white; }
#darkT button:hover { color: white; }

#darkT button:nth-child(1) {
    background: #2f3542;
} #darkT button:nth-child(1):hover {
    background: #57606f;
} #darkT button:nth-child(2) {
    background: #3d3d3d;
} #darkT button:nth-child(2):hover {
    background: #4b4b4b;
} #darkT div {
    background: rgb(24, 23, 27);
}

#newtheme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} #newtheme span {
    margin-top: 3px;
} #newplus {
    font-size: 25px;
    border: 2px dashed rgb(69, 69, 231);
    color: rgb(69, 69, 231);
    border-radius: 5px;
    width: 54px;
    padding-bottom: 5px;
    text-align: center;
    vertical-align: top;
    transition: .3s;
    cursor: pointer;
} #newplus:hover {
    border: 2px solid rgb(69, 69, 231)/*rgb(87, 164, 216)*/;
    color: rgb(69, 69, 231);
}

.boldtheme {
    font-weight: bold;
}

.something {
    color: #00bd65;
    color: rgba(229, 252, 255, 0.8);
}

.seltheme {
    border: 2px solid rgb(0, 194, 253);
}

#tan {
    position: relative;
    bottom: 3px !important;
}

.red {
    color: red;
}

a {
    color: #212124;
}

#ans > span {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#ans {
    position: absolute;
}

#entryCount {
    font-size: 8px;
    opacity: 0.8;
    font-weight: normal;
}

img.success {
    filter: drop-shadow(1.5px 1.5px rgb(131, 242, 131))
            drop-shadow(-1.5px 1.5px rgb(131, 242, 131))
            drop-shadow(1.5px -1.5px rgb(131, 242, 131))
            drop-shadow(-1.5px -1.5px rgb(131, 242, 131));
}

img.failure {
    filter: drop-shadow(1.5px 1.5px rgb(255, 68, 68))
            drop-shadow(-1.5px 1.5px rgb(255, 68, 68))
            drop-shadow(1.5px -1.5px rgb(255, 68, 68))
            drop-shadow(-1.5px -1.5px rgb(255, 68, 68));
}

#vtext {
    opacity: 0.7;
    font-size: 10px;
}